@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro</h1>
<h2 class="text-danger">Xiii deu ruim enquanto processava sua solicitação.</h2>

<div asp-validation-summary="All" class="text-danger"></div>