@model sipsa.Web.Models.MembroModel

@{
    ViewData["Title"] = "Membro - Cadastro";
}

<h2>Cadastro</h2>
<h4>Membro</h4>
<hr />
    <div class="col-md-12">
        <form asp-action="SalvarMembro">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Id" class="form-control" type="hidden" />
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dados pessoais</h5>
                    <hr />
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="DataNascimento" class="control-label"></label>
                            <input asp-for="DataNascimento" class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Igreja"></label>
                            <select asp-for="Igreja" class="form-control">
                                <option selected></option>
                                <option value="SANTOAMARO">IP Santo Amaro</option>
                                <option value="HORIZONTEAZUL">IP Horizonte Azul</option>
                                <option value="GRAJAU">IP Grajau</option>
                                <option value="JARDIMDASFONTES">IP Jardim das fontes</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Profissao" class="control-label"></label>
                            <input asp-for="Profissao" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Naturalidade" class="control-label"></label>
                            <input asp-for="Naturalidade" class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="EstadoCivil"></label>
                            <select asp-for="EstadoCivil" class="form-control">
                                <option selected></option>
                                <option value="SOLTEIRO">Solteiro(a)</option>
                                <option value="CASADO">Casado(a)</option>
                                <option value="DIVORCIADO">Divorciado(a)</option>
                                <option value="VIUVO">Viuvo(a)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label asp-for="Escolaridade"></label>
                            <select asp-for="Escolaridade" class="form-control">
                                <option selected></option>
                                <option value="EDUCACAOINFANTIL">Educação infantil</option>
                                <option value="FUNDAMENTAL">Fundamental</option>
                                <option value="MEDIO">Médio</option>
                                <option value="SUPERIOR">Superior</option>
                                <option value="POSGRADUACAO">Pós-Graduação</option>
                                <option value="MESTRADO">Mestrado</option>
                                <option value="DOUTORADO">Doutorado</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Titulo"></label>
                            <select asp-for="Titulo" class="form-control">
                                <option selected></option>
                                <option value="MEMBRO">Membro</option>
                                <option value="DIACONO">Diácono</option>
                                <option value="PRESBITERO">Presbítero</option>
                                <option value="PASTOR">Pastor</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Telefones</h5>
                    <hr />
                    <div class="form-row">
                        <div class="col-md-2">
                            <input asp-for="Telefone" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <a href="#" onclick="AdicionarTelefone()" class="btn btn-primary">+</a>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <ol id="TelefonesLista">
                            @if (Model != null && Model.Telefones != null)
                            {
                                var i = 0;
                                @foreach (var telefone in Model.Telefones)
                                {
                                    <li>
                                        <label class="telefone-itens">@Model.Telefones[i]</label>
                                        <input type="hidden" asp-for="@Model.Telefones[i]" class="form-control" />
                                        <a href="#" onclick="$(this).parent().remove();" class="btn btn-danger telefone-botao">x</a>
                                    </li>    
                                    i++;
                                }
                            }
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Endereço</h5>
                    <hr />
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label asp-for="Cep" class="control-label"></label>
                            <input asp-for="Cep" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Bairro" class="control-label"></label>
                            <input asp-for="Bairro" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Logradouro" class="control-label"></label>
                            <input asp-for="Logradouro" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Admissão</h5>
                    <hr />
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label asp-for="DataAdmissao" class="control-label"></label>
                            <input asp-for="DataAdmissao" class="form-control" />
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="Ata" class="control-label"></label>
                            <input asp-for="Ata" class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Recepcao"></label>
                            <select asp-for="Recepcao" class="form-control">
                                <option selected></option>
                                <option value="BATISMO">Batismo</option>
                                <option value="PROFISSAOFE">Profissão de fé</option>
                                <option value="BATISMOPROFISSAOFE">Batimos e Profissão de fé</option>
                                <option value="JURISDICAO">Jurisdição</option>
                                <option value="CT">CT</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}